*~
/app/tmp/
/app/Config/core.php
/app/Config/core.php.web
/app/Config/database.php
/app/Config/database.php.web
/app/Config/Schema/db/z-data.sql
/app/Plugin/Twitteroauth/Config/
#Imgs de los talleres y usuarios
/app/webroot/img/talleres/
/app/webroot/img/users/
