/* hoja de estilo para el mapa del sitio */
.content { padding:1.5em; margin:0 0 1.5em; }
.dark { background:#2a3333; }
.light { background:#fff; }
.hl { color: #ee2c74; }
.buttonize { cursor:pointer; text-shadow: 1px 1px 1px #222; font-weight:bold; color:#fff; padding: 5px 1em; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; background: -webkit-gradient(linear, left top, left bottom, from(#008595), to(#02748c)); background: -moz-linear-gradient(top, #008595, #02748c); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#008595, endColorstr=#02748c); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#008595, endColorstr=#02748c)";}
.buttonize a:hover { text-decoration: none; }
.gradient { background:#fff; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eaeaea)); background: -moz-linear-gradient(top, #fff, #eaeaea); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea)"; }
.map { width: 100%; height:400px; }
.streetview { width:100%; height:300px; }
.lt { float:left; }
.rt { float:right; }
.clear { clear:both; }
.hidden { display:none; }
.txt-shadow-w { text-shadow: 1px 1px 1px #fff; }
.txt-shadow-b { text-shadow: 1px 1px 1px #222; }
.rounded { border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; }
.shadow { -moz-box-shadow: 0px 2px 4px #999; -webkit-box-shadow: 0px 2px 4px #999; box-shadow: 0px 2px 4px #999; }
.item { padding:1em; margin:0 0 2em; }
#mapa_sitio{
	width:280px;
}
