#listaUsuarios ul, #listaUsuarios li img, #listaUsuarios{
	vertical-align:middle;
	margin:0;
	padding:0;
}
#listaUsuarios li img{
	margin-right: 5px
}
#listaUsuarios li{
	border:0;
	margin:0;
	width:150px;
	height:33px;
	display:block !important;
}

#listaUsuarios ul li{
	display: inline;
	width: 
}

#listaUsuarios ul:nth-child(even) {background: #CCC}
#listaUsuarios ul li:nth-child(2n) {
	float: right;
	justify: left;
	margin-top: -33px
}

#calendarioEventos .ui-datepicker-inline{
	width: 300px;
}

#listaUsuarios label.btn{
	width:85px;
}
#CajaPrincipal{
	background: #FFF;
}
