#container {
	width:100%;
	margin:0 auto;
	position:relative;
	z-index:0;
	padding:0;
}

#slide_principal_talleres {
	width:100%;
	height:325px;
	position:relative;
	-webkit-box-shadow:5px 0 3px RGBA(0,0,0,0.5),-5px 0 3px RGBA(0,0,0,0.5);
	-moz-box-shadow:5px 0 3px RGBA(0,0,0,0.5),-5px 0 3px RGBA(0,0,0,0.5);
	-ms-box-shadow:5px 0 3px RGBA(0,0,0,0.5),-5px 0 3px RGBA(0,0,0,0.5);
	-o-box-shadow:5px 0 3px RGBA(0,0,0,0.5),-5px 0 3px RGBA(0,0,0,0.5);
	box-shadow:5px 0 3px RGBA(0,0,0,0.5),-5px 0 3px RGBA(0,0,0,0.5);
}

#liston_talleres_slide {
	position:absolute;
	z-index:500;
}

/*
	Slideshow
*/

#slide_talleres {
	position:absolute;
	width:100%;
	top:8px;
	left:8px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	overflow:hidden;
	position:relative;
	display:none;
	width:100%;
	height:310px;
	display:block;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.slides_container div.slide {
	width:925px;
	height:310px;
	display:block;
}

/*
	Next/prev buttons
*/

#slide_talleres .next, #slide_talleres .prev {
	position:absolute;
	background: url(../img/slide_prev_next.png) no-repeat 0 -40px;
	opacity: 0.5;
	top:170px;
	right:15px;
	width:40px;
	height:40px;
	display:block;
	z-index:105;
}

#slide_talleres .next {
	left:0px;
	background-position: 0 0;
}

#slide_talleres .next:hover, #slide_talleres .prev:hover {
	opacity: 1;
}

.pagination {
	position:absolute;
	margin:-80px auto 0;
	z-index:100;
	text-align: center;
	padding: 5px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	slide_info_taller
*/
.slide_taller_titulo, .slide_info_taller{
	position:absolute;
	z-index:500;
}

.slide_info_taller {
	top: 260px;
	left:0;
	height:40px;
	padding:5px 20px 0 0px;
	width:905px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	text-shadow:1px 1px 1px #712F06;
	font-size: 15px;
	border:1px solid #CB560C;
	border-bottom:1px solid #A13E00;
	background: #F5792A;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #F5792A, #D75400);
	background-image: -ms-linear-gradient(top, #F5792A, #D75400);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F5792A), to(#D75400));
	background-image: -webkit-linear-gradient(top, #F5792A, #D75400);
	background-image: -o-linear-gradient(top, #F5792A, #D75400);
	background-image: linear-gradient(top, #F5792A, #D75400);
	-moz-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
}

.slide_info_taller span{
	float: left;
	margin-left:1%;
	width:24%;
}
.slide_info_taller span strong{
	display:block;
	font-weight: bold;
}

.slide_taller_titulo{
	padding: 10px;
	width: 900px;
	font-size: 30px;
	text-align: right;
	color:#c87d10;
	background:none;
	text-shadow:1px 1px 1px #261f18, -1px -1px 0 #FFEBA6 !important;
}

#slide_talleres .pagination li.current a{
	margin:none;
}

#slide_talleres .pagination a{
	padding:0;
	border:none 0;
	width:12px;
	height:12px;
}
/*
 * soporte para tables
 */
@media (max-width: 768px) {
	#slides_container,
	.header2 /* slide */
	{
		width:550px;
	}
	.header2,
	#slide_principal_talleres,
	#slides_container{
		height:270px;
	}
	h2.slide_taller_titulo{width:510px;font-size: 15px;margin-top:-10px}
	.slides_container div.slide
	{
		width:530px;
	}
	.slides_container{height:250px;}
	.slide_info_taller {
		top: 160px;
		left:0;
		height:80px;
		width:510px;
	}
	.pagination {
		margin-top:-110px;
	}
	#slide_talleres .next, #slide_talleres .prev {
		top:80px;
	}
	#liston_talleres_slide{display:none}
}

/*
 * Soporte para moviles/celulares
 * 
 */
@media (max-width: 400px) {
	#slides_container,
	.header2 /* slide */
	{
		width:350px;
	}
	.header2,
	#slide_principal_talleres,
	#slides_container{
		height:270px;
	}
	h2.slide_taller_titulo{
		width:330px;
		padding:0;
		color:#593200;
		font-weight: bold;
		text-shadow:2px 2px 0 #FFF !important;
		}
	.slides_container div.slide
	{
		width:330px;
	}
	.slides_container div.slide img { margin-top: 60px;}
	.slides_container{height:250px;}
	.slide_info_taller {
		top: 160px;
		left:0;
		height:80px;
		width:310px;
	}
	.pagination {
		margin-top:-110px;
	}
	#slide_talleres .next, #slide_talleres .prev {
		top:80px;
	}
	#liston_talleres_slide{display:none}
}

/*
 * Soporte para pantallas grandes
 * Ancho mayores a 1400px
 */
@media only screen  and (min-width: 1420px) {
	#slides_container,
	.header2 /* slide */
	{
		width:100%;
		height:270px;
	}
	h2.slide_taller_titulo {
		float: left;
		width: 900px;
	}
	.slide_info_taller{
		position:absolute;
		margin: -260px 0 0 950px;
		width:400px;
		height:240px;
	}
	.slide_info_taller span strong:before{
		content:" ☛ ";
	}
	.slide_info_taller span{
		width: 98%;
		display: block;
		margin:auto;
		padding: 1%;
		font-size:1em;
	}
	
}
